# name: Create a new Jekyll blog post
# key: post
# --
---
layout:     post
author:     Fredrik Meyer
title:      "${1:title}"
date:       `(format-time-string "%Y-%m-%d %H:%M:%S")`
categories: ${2:categories}
---

$0
